@charset "utf-8";
html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{font-family:sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}

html,body{ height: 100%; width: 100%;}
body{ position: relative; text-align: left; background-color: #780c17; font-family: arial,Helvetica,sans-serif;}

.slide_btn{ width: 1.4375rem; height: 0.9375rem; position: absolute; left: 50%; margin-left: -0.71875rem; bottom: 0.75rem; z-index: 111; transition: all 1s; border-radius: 50%; background: rgba(87,37,3,0.5); background-size: contain; background: none; }
.slide_btn p{ width: 100%; height: 100%; border-radius: 50%; background: rgba(87,37,3,0.5); background: none; }
.slide_btn span{ display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(../images/icon_next_page.png) center center no-repeat; background-size: contain; -webkit-animation: down 1.5s ease infinite; animation: down 1.5s ease infinite; border-radius: 50%; }

.page-container{ width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; display: none;}
.page{ height: 100%; width: 100%; position: relative; font-size: 0.375rem; overflow: hidden;}

.swiper-container,
.scroll-container{ width: 100%; height: 100%; margin: 0 auto; position: relative; overflow: hidden; z-index: 1;}
.swiper-slide {}
.scroll-container .swiper-slide { height: auto; -webkit-box-sizing: border-box; box-sizing: border-box;}
.scroll-wrap{ display: flex; height: 8.99rem; width: 6.53125rem; position: absolute; left: 0.546875rem; top: 2.890625rem;}
.scroll-wrap .scroll-container{ flex: 1;}
.scroll-wrap .scroll-container .swiper-slide{ background-color: transparent;}
.scroll-container.swiper-container-vertical>.swiper-scrollbar{ width: 0.28125rem; right: 0; height: 100%; top: 0;}
.scroll-container.swiper-container-vertical>.swiper-scrollbar .swiper-scrollbar-drag{ background: #88252a; border-radius: 0; box-shadow: 0 0.2rem 0.1rem #000;}
.scroll-container-1.swiper-container-vertical>.swiper-scrollbar{ right: auto; left: 0; background: #4b0914; border-radius: 0;}

.loading{ background-color: #ccc; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999;}
.loading_bar{ height: 4px; width: 0%; background-color: #42d41b; position: absolute; left: 0; top: 0;}
.loading_inner{ position: absolute; width: 60px; height: 60px; left: 50%; top: 50%; margin-left: -30px; margin-top: -30px;}

.masker{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.7; background-color: #000; z-index: 99; display: none;}
.rule-wrap{ position: fixed; left: 0; top: 50%; margin-top: -7rem; width: 100%; height: 13.59375rem; z-index: 100; display: none;}
.rule-bg img{ width: 100%; height: 100%;}
.rule-light-1{ position: absolute; left: 6.75rem; top: 0.34rem;}
.rule-light-2{ position: absolute; width: 1.875rem; height: 0.09375rem; background-color: #f52b2c; bottom: 0.1016rem; left: 2.22rem;
transform: scaleX(1) skew(-15deg);}
.rule-content{ position: absolute; width: 7.25rem; height: 9.84375rem; left: 1.4rem; top: 2.4375rem;}
.rule-content h2{ text-align: center; margin-bottom: .3rem;}
.rule-content h2 img{ width: 2.390625rem; margin: 0 auto;}
.rule-content .text{ font-size: .28rem; color: #fff;}
.rule-content .text p{ margin-bottom: .15rem; padding-left: 1em; line-height: 130%; text-indent: -1em;}
.btn-close{ position: absolute; bottom: 0rem; left: 2.7rem;}
.btn-close img{ width: 2rem;}

.page .content{ width: 100%; height: 100%; position: relative;}
.row{ position: absolute; width: 10rem;}
.row img{ width: 100%; display: block;}
.row .row-level-3{}

.logo{ position: absolute; left: 0; top: 0; width: 3.125rem; z-index: 95;}
.logo-right{ position: absolute; right: 0; top: 0; width: 2.8125rem; z-index: 95;}
.btn-voice{ position: absolute; left: 0.5rem; bottom: 1rem; width: 1rem; padding: .2rem 0; z-index: 95;}
.btn-voice .img-wrap{ width: 0.5rem; height: 0.4375rem; margin: 0 auto; overflow: hidden;}
.btn-voice img{ margin-top: 0;}
.btn-voice.off img{ margin-top: -0.4375rem;}
.lights .light{ float: left; opacity: 0; -webkit-animation-duration: 0.2s; animation-duration: 0.2s;}
.rule-light-1 .lights{ }
.rule-light-1 .lights .light{ width: 0.15625rem; height: 0.15625rem; background: url(../images/icon_light_1.png) no-repeat left top; background-size: cover;}

.pop-alert{ position: absolute; color: #fff; z-index: 999; border-radius: 0.1rem; height: 100%; width: 100%; display: none;}
.pop-alert .text{ position: absolute; width: 5rem; height: 1rem; left: 50%; top: 50%; margin-top: -0.6rem; margin-left: -2.7rem; font-size: 0.3rem; line-height: 150%; padding: .2rem; background: rgba(0,0,0,0.75); display: flex; justify-content: center; align-items:center;}
.pop-alert .img-wrap{ background: rgba(0,0,0,0.75); height: 100%; width: 100%; display: flex; justify-content: center; align-items:center;}

.pd-list{ float: right; width: 2.890625rem; padding-right: 0.0625rem; text-align: left;}
.pd-list-2{ float: left; padding-left: 0.0625rem; padding-right: 0;}
.pd-list li{ width: 2.890625rem; height: 2.859375rem; position: relative;}
.pd-list .img-wrap{ position: relative; height: 1.96875rem; width: 100%;}
.pd-list .img-wrap .img{ height: 100%; width: 100%; overflow: hidden;}
.pd-list .img-wrap .img img{ height: 100%; width: auto; margin-left: -0.2109375rem;}
.pd-list li .checkbox{ position: absolute; right: 0; top: 0; width: .8rem; height: .8rem; z-index: 9;}
.pd-list li .checkbox .icon{ width: 0.40625rem; height: 0.40625rem; position: absolute; top: 0.125rem; right: 0.28125rem; background-image: url(../images/icon_checkbox.png); background-size: 100%; background-position: left top;}
.pd-list li.checked .checkbox .icon{ background-position: left bottom;}
.pd-list li .number{ background:rgba(240,11,11,0.6); width: 1.2rem; height: 0.484375rem; position: absolute; left: 0; top: 0; z-index: 9; color: #fff; font-size: 0.26rem; line-height: 0.484375rem; text-align: center;}
.pd-list li .img-cover{ background-image: url(../images/img_cover.png); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-position: left top;}
.pd-list li .name{ color: #fff; font-size: 0.3rem; line-height: 120%; padding-top: 0.05rem;}
.pd-list li .dis{ color: #fff; font-size: 0.3rem; line-height: 120%;}
.logo2{ position: absolute; top: 0.671875rem; left: 2.796875rem; width: 2.125rem; }


/*page1*/
.page1{ background-color: #ac2831; background-image:  url(../images/page1_bg.jpg); background-repeat: no-repeat; background-position: left top; background-size: 100%; }
.page1 .row-level-1{ bottom: 0; left: 0;}
.page1 .row-level-2{ bottom: 4rem; left: 0;}
.page1 .row-level-3{ bottom: 0; left: 0;}
.page1 .row-level-4-1{ bottom: 0rem; right: 0; width: 10rem; height: 5.03125rem; overflow: hidden;}
.page1 .row-level-4{top: 0; right:0; width: 10rem; height: 5.03125rem; overflow: hidden;}
.page1 .row-level-4 img{ position: absolute; right: 0; top: 0; width: 10rem;}
.page1 .row-level-5{ bottom: 4.078125rem; left: 0;}
.page1 .row-level-6{ bottom: 4.8rem; left: 0;}
.page1 .row-level-6 img{ width: 1.5625rem;}
.page1 .row-level-7{ bottom: 4rem; left: 0.78125rem;}
.page1 .row-level-7 img{ width: 2.5625rem;}
.page1 .row-level-8{ bottom: 1.3rem; left: 0;}
.page1 .row-level-9{ top: 1.875rem; left: 0;}
.page1 .row-level-10{ top: 5.937rem; left: 0;}
.page1 .row-level-11{ bottom: 0; left: 0;}
.page1 .row-level-12{ width: 2.1875rem; padding: .2rem 0; bottom: 1rem; right: 0.78125rem;}
.page1 .row-level-13{ display: none;}

/*page2*/
.page2 .row-level-1{ top: 0; left: 0;}
.page2 .row-level-2{ bottom: 0; left: 0;}
.page2 .row-level-3{ bottom: 0; left: 0;}
.page2 .row-level-4{ bottom: 0; left: 0;}
.page2 .row-level-5{ top: 3.6rem; left: 0;}
.page2 .row-level-6{ bottom: 0; left: 0;}
.page .row-rule{ display: none; height: 100%;}
.page .rule-wrap{ display: block; position: absolute; text-align: left;}
.page .rule-content{ left: 1.7rem; width: 6.8rem;}
.page .rule-content .text{ padding-top: .6rem;}
.page .rule-content .text p{ line-height: 150%; margin-bottom: .3rem;}
.page .rule-content .btn-confirm{ position: absolute; bottom: 0rem; left: 1rem;}
.page .rule-content .btn-back{ position: absolute; bottom: 0rem; left: 3.5rem;}
.page .rule-content .btn-confirm img,
.page .rule-content .btn-back img{ width: 2rem;}
.page .row-masker{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0.7; background-color: #000;}


/*page3*/
/*.page3 .row-level-1{ top: 0; left: 0;}
.page3 .row-level-2{ bottom: 0; left: 0;}
.page3 .row-level-3{ bottom: 0; left: 0;}
.page3 .row-level-4{ bottom: 0; left: 0;}
.page3 .row-level-5{ top: 3.6rem; left: 0;}
.page3 .row-level-6{ bottom: 0; left: 0;}
.page3 .row-level-7{ top: 0; left: 0;}*/

/*page3*/
.page3 .row-level-2,.page4 .row-level-2,.page5 .row-level-2,.page6 .row-level-2,.page7 .row-level-2{height: 100%; width: 100%; background: url(../images/view_item4_1.jpg) center center no-repeat; background-size: cover;}

.page-board .shadow{ width: 100%; height: 100%; position: absolute; left: 0; top:0;}
.page-board .row-level-3{ width: 2.84375rem; top: 6.375rem;}
.page-board .row-level-4{ width: 1.78125rem; top: 4.59375rem;}
.page-board .row-level-5{ width: 1.78125rem; top: 10.0625rem;}
.page-board .row-level-6{ width: 3.203125rem; top: 14.0625rem; left: 3.75rem;}
.page-board .row-level-7{ width: 1.546875rem; height: 1.84375rem; top: 11.65625rem; left: 0.375rem;}
.page-board .row-level-8{ width: 1.546875rem; height: 1.84375rem; top: 14.171875rem; left: 6.34375rem;}
.page-board .row-level-9{ width: 3.375rem; height: 3.703125rem; top: 12.03125rem; right: 0.234375rem;}
.page-board .row-level-10{ width: 10.34375rem; top: 0.78125rem; left: 0.25rem;}
.page-board .row-level-10 .rank-btn{ position: absolute; left: 4.375rem; top: 2.5rem; width: 2.265625rem;}
.page-board .row-level-10 .btn-submit{ width: 2rem; position: absolute; top: 11.9rem; left: 4.6rem;}
.page-board .scroll-wrap{ left: 2.219375rem; top: 3.21875rem; height: 8.55rem;}
.page-board .rule-light-1{ left: 7.45rem; top: 0.264rem;}
.page-board .rule-light-2{ bottom: 0.79rem; left: 2.41rem; width: 2.06rem;}

/*.page-list .row-level-3{ top: 11.265625rem; left: 0; width: 3.609375rem;}
.page-list .row-level-4{ top: 0; left: 0; width: 3.890625rem;}
.page-list .row-level-5{ top: 0; right: 0; width: 3.890625rem;}
.page-list .row-level-6{ bottom: 0; left: 0;}
.page3 .row-level-2,.page5 .row-level-2,.page5 .row-level-2,.page6 .row-level-2,.page7 .row-level-2{height: 100%; width: 100%; background: url(../images/view_item4_1.jpg) center center no-repeat; background-size: cover;}*/

.tl-light{ position: absolute; left: 1.51rem; top: 1.02rem;}
.tl-light .light{ width: 0.5625rem; margin-right: 0;}
.tr-light{ position: absolute; left: 0.625rem; top: 1.875rem;}
.tr-light .light{ width: 0.28125rem; margin-right: 0;}
.tr-light .light:first-child{ width: 0.3125rem;}

/*page4*/
.page4 .tit{ position: absolute; left: 2.5rem; top: 2.21875rem; padding: 0.421875rem 0; width: 6rem; border-bottom: 0.03125rem solid #fff;}
.page4 .tit img{ margin: 0 auto; width: 3.078125rem;}
.page4 .scroll-wrap{ background-color: transparent; top: 3.90625rem; height: 7.8rem;}
.page4 .scroll-wrap .swiper-slide{ padding: 0 0.40625rem;}
.page4 .pd-list{ float: none; padding: 0; width: 100%;}
.page4 .pd-list li{ display: flex; width: 100%; height: auto;}
.page4 .pd-list li .rank{ color: #fff; font-size: .5rem; line-height: 1.3rem; width: .68rem; text-align: center;}
.page4 .pd-list li .img-wrap{ width: 1.65625rem; height: 1.15625rem; margin-right: .2rem;}
.page4 .pd-list li .img-wrap .img-cover{ background-image: url(../images/img_cover_2.png);}
.page4 .pd-list li .img-wrap .img img{ margin-left: -0.140625rem;}
.page4 .item-right{ display: flex; flex: 1; padding: 0.0625rem 0; border-bottom: 0.015625rem solid #fff;}
.page4 .pd-list li:last-child .item-right{ border-bottom: 0;}
.page4 .item-right .text .name,
.page4 .item-right .text .dis{ line-height: 150%;}
.page4 .btn-back-list{ position: absolute; z-index: 9; bottom: 1.7rem; left: 4.64rem;}
.page4 .btn-back-list img{ width: 2rem;}

/*page5*/
.board{ position: absolute; width: 7.78125rem; height: 9.453125rem; left: 50%; top: 50%; margin-left: -3.890625rem; margin-top: -4.7265625rem;}
.board .g_top,
.board .g_bottom{ position: absolute; width: 0.921875rem; left: 2.1875rem; top: -4.68rem}
.board .g_bottom{ top: auto; bottom: -4.68rem;}
.board .g_left,
.board .g_right{ position: absolute; width: 1.78125rem; left: -1.109375rem; top: 1.1875rem;}
.board .g_right{ left: auto; right: -1.109375rem;}
.board .g_left_2,
.board .g_right_2{ top: 6.65625rem;}
.board .g_top_2,
.board .g_bottom_2{ left: 5.046875rem;}
.board .bg{ position: absolute; left: 0; top: 0; z-index: 1; width: 100%;}
.board .row-level-7{ top: 4.890625rem; left: -0.53125rem;}
.board .row-level-8{ left: auto; top: auto; bottom: -2.03125rem; right: 0.390625rem;}
.board .row-level-9{ top: auto; bottom: -1.75rem; right: -1.5rem; z-index: 2;}
.board .btn-back-choose{ bottom: -1.3rem; left: 1.58rem; width: 2.2rem; z-index: 3;}
.board .btn-start-vote{ bottom: -1.3rem; width: 2.2rem; left: 4.4rem; z-index: 3;}


.page5 .row-level-10{ left: 1.109375rem; top: 3.34375rem; width: 7.78125rem;}
.page5 .pd-img{ position: absolute; left: 0; top: 0; width: 100%; z-index: 9;}
.page5 .dis{ z-index: 9; position: absolute; left: 1.7rem; top: 6.55rem; width: 4.5rem; color: #fff; font-size: .3rem; line-height: 180%;}
.page5 .dis span{ display: flex; justify-content: center; align-items:center; width: 100%; height: 0.8125rem;}
.page5 .number{ z-index: 9; position: absolute; left: 1.55rem; top: 5.1rem; color: #fff; font-size: 0.48rem; line-height: 140%;}
.page5 .vote{ z-index: 9; position: absolute; right: 1.55rem; top: 5.15rem; color: #fff; font-size: 0.38rem; line-height: 140%;}
.icon-shake{ position: absolute; left: 1.546875rem; top: 6.25rem; width: 1.546875rem; height: 2.125rem;}
.btn-back-choose{ position: absolute; bottom: -0.8125rem; left: 1.78125rem; width: 1.796875rem;}
.btn-start-vote{ position: absolute;}
.img2-cover{ background: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-position: left top;}
.page5 .pd-img .img{ width: 6.8125rem; padding-top: 0.640625rem; padding-left: 0.546875rem;}

/*page6*/
.page6  .rule-light-2{ bottom: 0.97rem; left: 2.41rem; width: 2.06rem;}
.page6 .row-level-10{ top: 1.9375rem;}
.page6 .pd-list-3{ position: absolute; left: 2.3rem; top: 3.2rem; width: 6.375rem; display: flex;}
.page6 .pd-list-3 li{ flex: 1; height: auto; width: auto;}
.page6 .pd-list-3 li .img-wrap{ width: 2.0625rem; height: 1.40625rem;}
.page6 .pd-list-3 li .checkbox,
.page6 .pd-list-3 li .name,
.page6 .pd-list-3 li .dis{ display: none;}
.page6 .mobile{ position: absolute; left: 3.578125rem; top: 5.765625rem; width: 3.5rem; height: 0.6rem; color: #fff; font-size: .4rem; text-align: center; line-height: 0.6rem;}
.page6 .sms{ position: absolute; width: 2.5rem; height: 0.5rem; top: 7.4rem; left: 3.42rem; color: #333; text-align: center; font-size: 0.3rem; line-height: 0.5rem;}
.page6 .btn_getsms{ position: absolute; left: 6.04rem; top: 7.38rem; width: 1.6rem; height: 0.6rem;}
.page6 .btn-back-choose{ position: absolute; left: 3.078125rem; top: 8.546875rem; width: 2.0625rem; height: 0.5625rem;}
.btn-start-shake{ position: absolute; left: 5.796875rem; top: 8.546875rem; width: 2.0625rem; height: 0.5625rem;}

/*page7*/
.page7 .ss{ position: absolute; left: 1.203125rem; top: 1.03125rem; width: 5.46875rem; z-index: 4;}
.page7 .ss_code{ position: absolute; left: 2.375rem; top: 6.546875rem; color: #fff; font-size: .4rem; text-align: center; z-index: 4; width: 3.1rem; line-height: .66rem;}

.share-btn{ position: absolute; left: 3.09rem; bottom: -1.2rem; width: 2rem; }
.share-cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/share_cover.png); background-position: center -1rem; background-repeat: no-repeat; background-size: 100% auto; background-color: rgba(0,0,0,0.75); display: none; z-index: 998;}
.share-cover .inner{ position: absolute; width: 6.078125rem; height: 5.15625rem; left: 50%; top: 0; margin-left: -3.0390625rem; margin-top: 4.3rem;}
.share-cover .tl-light{ left: 0.64rem; top: 0.595rem;}
.share-cover .tl-light .light{ width: 0.495rem;}
.share-cover .rule-light-1{ left: 4.23rem; top: 0.03rem; position: absolute;}
.share-cover .rule-light-1 .light{ width: 0.11rem; height: 0.11rem;}
.share-cover .rule-light-2{ position: absolute; bottom: auto; top: 4.309375rem; left: 1.06rem; width: 1.34375rem; height: 0.078125rem;}
.share-cover .tr-light{ transform: rotate(90deg); left: 5rem; top: 1rem; width: 1rem;}
.share-cover .tr-light .light{ width: 0.24rem;}
.share-cover .tr-light .light:first-child{ width: 0.26rem;}

